.orientation-alert 
    .orientation-alert__bg
    .orientation-alert__text
        span переверните телефон в горизонтальное положение,
        | чтобы насладиться полной красотой сайта
    <svg width="56" height="60" viewBox="0 0 56 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M30.7809 38.1729L32.2311 37.3356M28.2681 45.5433L39.8704 38.8446C40.6714 38.3822 40.9382 37.3447 40.4663 36.5274L30.2133 18.7687C29.7414 17.9514 28.7096 17.6637 27.9086 18.1262L16.3063 24.8248C15.5053 25.2872 15.2385 26.3247 15.7104 27.142L25.9634 44.9007C26.4352 45.718 27.4671 46.0057 28.2681 45.5433Z" stroke="white" stroke-width="2"/>
        <path d="M56 32.2463V31.2463H54V32.2463H56ZM28 6.49271H29V4.49271H28V6.49271ZM29.6579 5.49271L30.3644 6.20039L31.0733 5.49271L30.3644 4.78503L29.6579 5.49271ZM54 32.2463C54 46.4579 42.3649 58 28 58V60C43.4521 60 56 47.5797 56 32.2463H54ZM28 58C13.6351 58 2 46.4579 2 32.2463H0C0 47.5797 12.5479 60 28 60V58ZM2 32.2463C2 18.0348 13.6351 6.49271 28 6.49271V4.49271C12.5479 4.49271 0 16.913 0 32.2463H2ZM24.4514 1.70762L28.9514 6.20038L30.3644 4.78503L25.8644 0.292273L24.4514 1.70762ZM28.9514 4.78503L24.4514 9.27774L25.8644 10.6931L30.3644 6.20039L28.9514 4.78503Z" fill="white"/>
    </svg>
