extends ../../layout/layout-front
block title
	title Адвокат Андрей Андреев
block content
	.page.front.inner-page#wrapper
		

		svg
			<clipPath  id="rombS1name" >
				<rect  x="-0px" y="0px" width="84.7114" height="83.6265" style="transform:rotate(45deg);" stroke="#F9DF94"/>
			</clipPath>
			<clipPath  id="rombS1desc" >
				<rect  x="-0px" y="0px" width="84.7114" height="83.6265" style="transform:rotate(45deg);" stroke="#F9DF94"/>
			</clipPath>
			<clipPath  id="rombinvert" >
				<rect  x="-0px" y="-0px" width="29.1789" height="29.1789" style="transform:rotate(45deg);" stroke="#F9DF94"/>
			</clipPath>

		.swiper.step-slider
			.swiper-wrapper
				.swiper-slide.step.step-1
					video#video-1.step__bg(muted playsinline)
						source(src="video/01.mov" type='video/mp4')
					svg.step__go(width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M17.1223 1L17.1223 21.3739L22.4518 16.0764L27 20.0778L14 33L1 20.0778L5.54824 16.0764L10.8777 21.3739L10.8777 1L17.1223 1Z" stroke="white" stroke-width="0.5")
					.step__content.step-1__content
						.step-1__name._hover-style 
							| Андрей Андреев 
						.step-1__desc._hover-style 
							| Высший
							br
							| эшелон
							br
							| юриспруденции

						
				.swiper-slide.step.step-2
					video#video-2.step__bg(muted playsinline)
						source(src="video/02.mov" type='video/mp4')
					svg.step__go(width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M17.1223 1L17.1223 21.3739L22.4518 16.0764L27 20.0778L14 33L1 20.0778L5.54824 16.0764L10.8777 21.3739L10.8777 1L17.1223 1Z" stroke="white" stroke-width="0.5")
					.step__content.step-2__content
						.step-2__line.step-2__line-1
							p(data-parallax="40") Председатель Совета Московской
								br
								| коллегии адвокатов «Андреев, 
								br
								| Бодров, Гузенко и Партнеры»
						.step-2__line.step-2__line-2
							p(data-parallax="-40") Управляющий партнер юридического
								br
								| бюро «United Partners»
						.step-2__line.step-2__line-3 
							p(data-parallax="35") Председатель Международного центра
								br
								| развития молодежных инициатив
								br
								| «Поколение Права»

						.step-2__line.step-2__line-4
							p(data-parallax="-35") Правозащитник
						.step-2__line.step-2__line-5
							p(data-parallax="35") Член Совета по делам молодежи 
								br
								| при Патриархе Московской и всея Руси
				.swiper-slide.step.step-3
					video#video-3.step__bg(muted playsinline)
						source(src="video/03.mov" type='video/mp4')
					svg.step__go(width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M17.1223 1L17.1223 21.3739L22.4518 16.0764L27 20.0778L14 33L1 20.0778L5.54824 16.0764L10.8777 21.3739L10.8777 1L17.1223 1Z" stroke="white" stroke-width="0.5")
					.step__content.step-3__content
						.step-3__text
							.step-3__headline-1.step__headline 
								| В 
								span праве действовать
							.step__headline.step-3__headline-2 
								span В 
								| праве
							.text
								p 
									span Аккумулирует классическое юридическое образование, предпринимательский опыт и адвокатскую деятельность.
								p 
									span Специализируется на юридическом сопровождении бизнеса, уголовных процессах и крупных корпоративных конфликтах, но работает и с частными лицами.
							div 
								<svg id="step-3-svg" viewBox="0 0 377 254" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M28.7475 226.724C65.2079 226.724 71.4839 226.724 74.6746 226.912C77.8653 227.101 77.9638 227.477 78.7242 229.56C79.4847 231.644 80.9025 235.432 85.6828 238.51C90.4631 241.587 98.6058 243.966 109.112 244.448C119.619 244.93 132.489 243.53 142.6 240.962C152.71 238.395 160.06 234.68 161.435 231.408C162.809 228.135 158.205 225.308 153.212 223.932C148.218 222.555 142.833 222.631 139.865 222.481C136.896 222.332 136.337 221.961 135.971 220.1C135.604 218.239 135.414 214.893 134.949 184.303C134.484 153.713 133.742 95.8791 134.949 66.2209C136.156 36.5626 139.313 35.0711 145.903 33.4075C152.492 31.7439 162.516 29.8737 173.485 30.2822C184.454 30.6906 196.372 33.3708 202.59 40.8835C208.809 48.3961 209.329 60.7436 213.45 75.9915C217.57 91.2394 225.294 109.39 230.491 122.481C235.688 135.572 238.361 143.605 238.398 149.074C238.435 154.542 235.837 157.442 226.444 158.817C217.05 160.191 200.866 160.044 189.617 160.007C178.368 159.971 172.056 160.044 170.051 162.277C168.047 164.51 170.349 168.897 180.817 170.941C191.284 172.986 209.922 172.69 223.549 170.198C237.175 167.706 245.785 163.02 248.905 159.934C252.024 156.848 249.647 155.359 238.806 154.356C227.965 153.353 208.66 152.83 193.105 152.382C177.551 151.935 165.745 151.566 159.953 152.495C154.16 153.424 154.384 155.657 156.501 156.884C158.617 158.112 162.626 158.335 165.021 156.605C167.417 154.874 168.196 151.194 171.435 141.171C174.674 131.148 180.4 114.782 185.636 97.4877C190.872 80.193 195.623 61.9712 198.706 49.9886C201.789 38.006 203.197 32.2854 206.91 28.7884C210.623 25.2913 216.636 24.0293 222.426 23.1734C228.217 22.3175 233.787 21.87 236.46 22.8751C239.133 23.8801 238.911 26.3331 236.387 27.9233C233.863 29.5135 229.037 30.2662 220.582 29.8577C212.128 29.4493 200.016 27.8866 186.204 25.8421C172.392 23.7976 156.886 21.2665 146.668 23.7585C136.45 26.2505 131.55 33.7632 122.796 36.838C114.042 39.9128 101.412 38.5865 90.4997 36.877C79.5877 35.1675 70.3776 33.0816 64.5871 32.8591C58.7967 32.6365 56.4192 34.2726 57.3102 41.5259C58.2012 48.7793 62.3493 61.6454 68.7811 80.4638C75.2128 99.2821 83.8985 124.062 87.8267 136.735C91.7549 149.409 90.9463 150.012 79.3632 150.124C67.7801 150.237 45.4293 149.865 30.4311 150.198C15.4328 150.531 7.78707 151.575 3.88862 152.318C-0.00982761 153.062 -0.158717 153.509 3.0709 156.41C6.30052 159.31 12.9086 164.67 21.0033 167.864C29.098 171.058 38.6746 172.105 48.549 171.733C58.4234 171.361 68.5955 169.576 77.0979 166.414C85.6003 163.252 92.4306 158.716 94.8814 156.299C97.3323 153.883 95.4014 153.583 87.8267 153.472C80.252 153.362 67.038 153.436 53.6362 153.583C40.2344 153.729 26.6448 153.954 19.2946 154.161C11.9443 154.367 10.8312 154.551 15.4717 143.114C20.1123 131.678 30.4952 108.642 36.4253 87.35C42.3555 66.058 43.8512 46.5305 45.892 35.094C47.9329 23.6575 50.5326 20.312 54.06 20.4083C57.5874 20.5047 62.0424 24.0362 59.8137 26.7324C57.5851 29.4286 48.6773 31.2872 38.3746 31.8448C28.0718 32.4024 16.3856 31.659 13.8661 29.0569C11.3465 26.4548 18.0417 21.9894 28.3444 21.4318C38.6471 20.8742 52.5688 24.222 69.4591 26.4524C86.3493 28.6828 106.213 29.8003 115.865 29.1486C125.517 28.497 124.96 26.0807 124.404 21.5258C123.847 16.971 123.291 10.2821 124.033 5.99802C124.775 1.71392 126.818 -0.14018 127.927 1.72077C129.035 3.58173 129.225 9.15772 129.134 45.7917C129.042 82.4256 128.676 150.115 128.854 184.618C129.033 219.12 129.782 220.414 129.876 221.066C129.97 221.717 129.418 221.715 121.151 221.995C112.885 222.275 96.9269 222.833 87.7946 225.715C78.6623 228.597 76.3604 233.803 79.6038 238.349C82.8471 242.895 91.6312 246.777 110.194 247.801C128.756 248.824 157.094 246.984 168.572 241.88C180.05 236.777 174.667 228.411 165.312 223.099C155.958 217.787 142.636 215.526 125.916 215.067C109.195 214.609 89.1208 215.93 76.3879 219.475C63.6549 223.021 58.2699 228.787 64.8895 235.969C71.5091 243.152 90.1355 251.756 109.442 252.872C128.749 253.987 148.731 247.617 158.159 242.229C167.587 236.841 166.458 232.44 165.908 230.116C165.358 227.791 165.386 227.546 166.879 227.348C168.373 227.151 171.327 227.002 208.759 227.206C246.19 227.41 318.094 227.968 390 228.526" stroke="#edbe65" stroke-miterlimit="2.61" stroke-linecap="round" class="svg-path-1"></path>
								</svg>
						

				.swiper-slide.step.step-4
					video#video-4.step__bg(muted playsinline)
						source(src="video/04.mov" type='video/mp4')
					svg.step__go(width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M17.1223 1L17.1223 21.3739L22.4518 16.0764L27 20.0778L14 33L1 20.0778L5.54824 16.0764L10.8777 21.3739L10.8777 1L17.1223 1Z" stroke="white" stroke-width="0.5")
					.step__content.step-4__content
						.step-4__text
							.step-4__headline-1.step__headline 
								| Не 
								span ос
								| т
								span анавливается
								br
								span перед 
								| границ
								span ами
							.text
								p 
									span В достижении целей клиента не ограничивается должностными обязанностями. С ним 
									| вы вправе отстоять любые свои интересы
									span . Кроме тех, что противоречат его принципам.
							.step-4__text-right 
								.text 
									p  
										span Вокруг себя 
										| собирает талантливых
										br
										| профессионалов, 
										span которые умеют работать
											br
											| в команде и играют только на одной стороне 
							div  
								<svg id="step-4-svg"  viewBox="0 0 447 247" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M-21 246H213.25C223.697 246 231.965 246 236.472 245.951C240.98 245.901 241.719 245.797 242.345 245.385C246.686 243.773 248.76 230.496 249.15 228.408L254.783 190.708C255.533 183.332 255.82 175.917 255.643 168.505C255.459 159.834 254.682 149.835 254.107 142.82C253.533 135.805 253.162 131.811 252.336 128.78C251.509 125.75 250.226 123.695 247.575 120.413C244.925 117.13 240.909 112.62 236.876 108.058C232.844 103.496 228.792 98.8819 225.147 95.0433C221.502 91.2046 218.261 88.1412 216.203 85.5821C214.146 83.023 213.267 80.9706 212.676 78.7154C211.981 76.1258 211.825 73.4214 212.22 70.7695C212.657 67.5365 213.841 63.5305 215.072 59.3219C216.302 55.1133 217.588 50.7021 218.582 47.7895C219.577 44.8769 220.288 43.4631 221.03 42.7561C221.771 42.0492 222.549 42.0492 223.864 42.537C225.18 43.0248 227.037 44.0027 228.32 44.441C229.603 44.8793 230.311 44.7756 231.644 43.767C232.976 42.7585 234.934 40.838 236.945 39.8436C238.955 38.8491 241.01 38.7832 242.581 37.9749C244.152 37.1666 245.23 35.6185 245.738 34.3224C246.245 33.0264 246.175 31.9825 245.957 31.2755C245.74 30.5686 245.364 30.1986 243.796 30.1821C242.227 30.1657 239.458 30.5003 236.961 31.0894C234.464 31.6785 232.237 32.5221 229.737 33.0099C227.238 33.4977 224.472 33.632 222.516 34.4072C220.559 35.1825 219.409 36.594 218.362 38.8515C217.316 41.109 216.371 44.2053 214.852 48.5978C213.333 52.9902 211.24 58.681 209.789 63.95C208.339 69.219 207.529 74.0686 208.27 78.4445C209.012 82.8204 211.308 86.7273 214.885 90.7333C218.462 94.7393 223.323 98.8489 227.342 103.192C231.36 107.535 234.53 112.113 238.277 116.996C242.024 121.878 246.345 127.063 249.957 129.589C253.569 132.115 256.47 131.978 260.587 130.767C264.705 129.556 270.037 127.265 273.415 124.909C276.793 122.552 278.208 120.128 279.203 115.144C280.197 110.16 280.774 102.619 280.857 96.3911C280.939 90.163 280.538 85.2475 279.406 81.5455C278.494 78.392 276.696 75.5645 274.225 73.397C272.031 71.4435 269.501 70.0296 266.056 67.9442C262.612 65.8587 258.26 63.0946 254.967 61.3108C251.674 59.5269 249.449 58.7187 247.812 59.1381C246.175 59.5576 245.128 61.2094 244.419 62.8919C243.711 64.5744 243.34 66.2923 242.529 68.1798C241.719 70.0673 240.472 72.1174 239.475 73.0953C238.478 74.0733 237.736 73.9696 237.552 73.6161C237.368 73.2626 237.736 72.657 238.31 71.6626C238.884 70.6682 239.662 69.2897 239.947 67.9606C240.233 66.6316 240.032 65.3497 240.42 64.1055C240.807 62.8613 241.762 61.6477 242.293 60.3352C242.825 59.0227 242.926 57.6088 242.605 56.6827C242.284 55.7566 241.542 55.3207 240.368 54.9319C239.194 54.5431 237.592 54.2084 236.572 53.7112C235.551 53.214 235.112 52.5589 235.069 52.1466C235.027 51.7342 235.381 51.5645 235.896 51.7412C236.411 51.918 237.077 52.4482 238.317 52.8959C239.826 53.4362 241.416 53.7151 243.018 53.7207C244.698 53.7042 246.267 53.2824 248.79 51.6423C251.313 50.0022 254.79 47.1391 257.238 44.0498C259.343 41.3582 260.913 38.29 261.863 35.0105C262.631 32.376 262.749 30.4249 262.428 28.5044C262.106 26.5839 261.348 24.7011 260.368 23.5558C259.387 22.4106 258.192 21.9817 257.145 22.0336C256.099 22.0854 255.204 22.6062 254.183 23.2448C253.162 23.8834 252.014 24.6422 250.472 25.441C248.806 26.2975 247.083 27.0377 245.315 27.656C243.645 28.2287 242.244 28.5303 241.466 28.9686C240.689 29.4069 240.538 29.9795 240.666 31.0894C240.793 32.1993 241.197 33.8511 242.766 34.9115C244.334 35.9719 247.07 36.4432 249.314 36.2406C251.295 36.05 253.185 35.3159 254.774 34.1198C256.234 33.0664 257.398 31.8387 258.081 30.095C258.764 28.3512 258.969 26.089 258.596 24.6068C258.223 23.1246 257.28 22.3941 256.217 21.9982C255.154 21.6023 253.973 21.5269 252.293 22.0571C250.614 22.5873 248.438 23.6901 246.151 24.7505C243.758 25.8952 241.285 26.8655 238.752 27.6537C236.009 28.4879 232.903 29.1453 230.247 29.7344C227.592 30.3235 225.355 30.8443 223.82 31.08C222.284 31.3156 221.438 31.2661 220.359 29.6331C219.279 28.0001 217.963 24.7835 217.051 22.7476C216.139 20.7116 215.61 19.8515 215.466 20.3652C215.322 20.8789 215.558 22.7641 216.175 25.137C216.791 27.5099 217.812 30.373 218.284 31.9966C218.757 33.6202 218.691 34.009 218.504 34.2706C218.422 34.4091 218.29 34.5109 218.134 34.5548C217.979 34.5986 217.813 34.5812 217.67 34.5062C217.323 34.3389 216.936 33.8676 216.319 32.3359C215.498 30.2126 214.824 28.0357 214.302 25.8204C213.746 23.4309 213.475 21.2418 213.593 19.458C213.711 17.6741 214.219 16.2933 214.809 14.7781C215.472 13.0092 216.267 11.2927 217.188 9.64339C218.303 7.6734 219.855 5.38294 221.847 3.75228C223.779 2.14296 226.17 1.18304 228.681 1.00938C231.046 0.917573 233.389 1.50128 235.433 2.69188C237.372 3.80412 238.858 5.31931 239.6 7.94439C240.342 10.5695 240.344 14.3068 240.479 17.1534C240.614 20 240.883 21.9511 241.306 23.061C241.729 24.1709 242.3 24.4418 242.655 24.2745C243.009 24.1072 243.144 23.4993 243.212 22.1867C243.281 20.8742 243.281 18.8524 243.652 16.8494C244.019 14.8561 244.733 12.9421 245.761 11.1939C246.756 9.52792 248.005 8.18004 249.744 7.25395C251.483 6.32787 253.711 5.82359 255.617 5.58795C257.523 5.3523 259.111 5.38529 261.237 6.51403C263.363 7.64277 266.03 9.86489 269.151 11.9339C272.091 13.8464 275.146 15.5776 278.298 17.118C280.116 18.0327 282.008 18.7926 283.954 19.3896C285.844 19.9952 288.307 20.7375 289.791 21.6447C291.275 22.552 291.783 23.6312 291.648 24.7081C291.513 25.785 290.738 26.8619 289.673 28.8814C288.309 31.5252 287.115 34.2523 286.096 37.0465C284.896 40.3127 283.954 43.6675 283.278 47.0802C282.602 50.53 282.231 54.0317 282.687 56.6426C283.143 59.2536 284.426 60.9691 284.899 62.3829C285.371 63.7968 285.033 64.9067 283.8 66.0519C282.244 67.4139 280.37 68.3637 278.35 68.8137C276.257 69.2496 274.197 68.948 272.73 68.0902C271.263 67.2325 270.384 65.8163 269.118 64.1833C267.852 62.5503 266.198 60.6981 265.338 59.0486C264.478 57.3991 264.41 55.9522 264.663 50.6149C264.915 45.2775 265.489 36.0544 266.316 29.8405C267.143 23.6265 268.223 20.4005 269.853 18.2797C271.483 16.159 273.684 15.115 275.709 14.6438C277.734 14.1725 279.59 14.2738 281.667 14.5754C283.743 14.877 286.037 15.3837 288.317 16.4771C290.597 17.5705 292.857 19.2553 296.132 21.4609C299.406 23.6666 303.691 26.393 306.224 28.5138C308.756 30.6346 309.531 32.1498 310.341 34.0538C311.152 35.9578 311.995 38.2459 312.198 40.5175C312.401 42.7891 311.962 45.0466 311.017 47.436C310.072 49.8255 308.619 52.3516 307.861 54.2202C307.102 56.0889 307.034 57.3024 306.713 58.7658C306.391 60.2292 305.817 61.947 304.298 63.5305C302.779 65.1141 300.315 66.5609 298.222 67.2325C296.467 67.8173 294.58 67.882 292.789 67.4187C291.168 67.0322 289.649 66.3583 288.806 65.2295C287.963 64.1008 287.792 62.5196 287.303 60.8041C286.814 59.0886 286.004 57.2341 285.565 55.7519C285.125 54.2697 285.059 53.1598 285.869 49.406C286.68 45.6522 288.367 39.2545 290.46 34.7089C292.553 30.1633 295.05 27.4699 297.481 26.0914C299.911 24.7128 302.274 24.6421 305.076 24.8448C307.877 25.0475 311.116 25.5187 313.75 26.7983C316.384 28.0778 318.409 30.1633 320.299 32.6211C322.189 35.0788 323.944 37.9089 325.867 40.8026C327.79 43.6963 329.883 46.6631 330.795 49.3895C331.707 52.1159 331.437 54.609 331.673 58.6315C331.91 62.6539 332.652 68.2104 332.72 75.1973C332.737 82.6014 332.24 89.9979 331.234 97.3337C330.289 104.068 329.006 109.116 328.163 116.357C327.32 123.599 326.913 133.022 326.847 140.699C326.781 148.377 327.048 154.301 327.657 162.143C328.267 169.985 329.21 179.753 330.712 190.998L344.01 237.627C345.858 243.773 347.471 244.815 358.321 245.404C369.171 245.993 409.264 245.993 447 245.993" stroke="url(#paint0_linear_452_384)" stroke-miterlimit="2.61" class="svg-elem-1"></path>
									<defs>
									<linearGradient id="paint0_linear_452_384" x1="49675.9" y1="52333" x2="-24709.8" y2="-55363.4" gradientUnits="userSpaceOnUse">
									<stop stop-color="#fff"></stop>
									<stop offset="1" stop-color="#fff"></stop>
									</linearGradient>
									</defs>
								</svg>

						


				.swiper-slide.step.step-5
					video#video-5.step__bg(muted playsinline)
						source(src="video/05.mov" type='video/mp4')
					svg.step__go(width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M17.1223 1L17.1223 21.3739L22.4518 16.0764L27 20.0778L14 33L1 20.0778L5.54824 16.0764L10.8777 21.3739L10.8777 1L17.1223 1Z" stroke="white" stroke-width="0.5")
					.step__content.step-5__content
						.step-5__text
							.step-5__headline-1.step__headline 
								| Не  
								span подходит всем 
							.step__headline.step-5__headline-2 
								span и 
								|каждому 
							.text
								p 
									span Работает с теми клиентами, кто за свою безоговорочную защиту готов платить доверием.
									br
									color Дорогой, но того стоящий
							.text.step-5__text-left
								p 
									span Посвящает себя благотворительности и общественной деятельности — поддерживает молодых юристов и безвозмездно защищает нуждающихся.
									
							div 
								<svg id="step-5-svg"viewBox="0 0 545 249" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 248.001L167.654 247.863V247.891L168.119 247.982C168.196 247.996 168.274 247.996 168.351 247.982L169.912 247.94C173.279 247.856 176.187 247.775 178.432 247.078C181.18 246.205 183.62 243.321 182.869 240.396C182.516 239.023 181.531 237.915 180.741 237.027C179.117 235.201 177.349 233.396 175.662 231.667C173.976 229.938 172.229 228.152 170.623 226.346L170.159 225.817C168.374 223.779 165.679 220.7 163.087 221.246C162.311 221.428 161.555 221.685 160.831 222.016C158.789 222.88 157.662 223.356 154.054 218.049C153.335 216.995 153.054 215.703 153.271 214.445C153.487 213.188 154.185 212.064 155.215 211.312C160.519 207.406 166.188 203.249 171.671 199.23C176.678 195.557 181.684 191.888 186.494 188.354C195.28 181.893 204.436 175.461 213.29 169.244C219.958 164.56 226.856 159.716 233.53 154.901C248.286 144.265 259.256 136.721 273.145 127.195C278.425 123.568 283.887 119.818 290.142 115.496C296.345 111.203 301.881 107.237 307.729 103.036C314.462 98.2033 321.424 93.2057 329.96 87.339C336.205 83.0454 344.316 76.2285 342.673 66.6119C342.208 63.8912 341.089 60.5664 340.004 57.3485C339.195 54.9484 338.426 52.6807 337.961 50.7477C336.177 43.4359 335.645 39.112 335.687 32.2417C335.711 26.5535 337.096 20.9537 339.727 15.9104C344.434 6.97692 351.148 2.07452 359.684 1.34032C367.815 0.638654 380.073 1.69813 392.21 10.7199C400.702 16.9835 408.554 24.0728 415.649 31.8839C425.883 43.1873 437.321 60 436.027 69.5952C435.5 73.5 434.845 75.849 433.5 78.5C432.643 80.1868 430.5 82.5 429.5 83.5C428.649 84.3513 427.052 85.2065 426.5 85.5C425.422 81.7942 424.603 76.8303 420.872 69.5835C417.645 63.322 409.214 52.7132 408.264 51.5237C401.273 42.7807 394.138 35.7756 387.633 31.2659C377.915 24.528 369.714 21.719 363.255 22.9155C358.643 23.7705 356.392 26.4355 355.639 27.5414C351.237 34.0005 351.464 44.3397 356.157 51.0776C361.125 58.1313 366.839 64.6294 373.198 70.4595C381.709 78.1918 388.437 83.2522 397.658 86.2447C406.115 88.9887 418.135 89.4347 426.603 85.5477C427.075 87.4691 427.535 89.0237 428 92C428.5 97 427.148 100.174 426 102C423 106.5 418.432 107.408 415.5 108C408.307 109.452 399.807 108.175 391.61 105.348C386.227 103.489 380.775 100.471 375.501 97.5528C372.167 95.7103 368.722 93.8028 365.392 92.2531C362.351 90.8335 359.092 89.4533 355.635 89.4533H355.402C351.697 89.5207 347.838 90.9752 343.928 93.7819C338.712 97.5272 334.707 100.661 330.831 103.682C325.994 107.46 321.427 111.035 315.205 115.218C310.129 118.635 302.013 124.351 297.097 127.903C293.78 130.301 290.246 132.639 286.829 134.899C283.866 136.86 280.804 138.886 277.903 140.94C274.854 143.089 270.561 146.01 265.589 149.393C257.198 155.099 247.688 161.57 240.047 167.146C228.166 175.815 226.64 178.117 226.712 179.228C226.791 180.471 228.089 182.243 229.346 183.816C229.467 183.965 229.555 184.077 229.599 184.137L229.725 184.311C234.102 190.41 235.912 192.922 239.81 199.239L239.961 199.471C240.661 200.522 240.605 200.763 240.57 200.812C240.281 201.126 239.966 201.414 239.627 201.672L239.336 201.904C237.842 203.194 235.717 204.783 234.358 205.436C234.053 205.582 233.41 205.519 233.228 205.326C232.758 204.735 232.326 204.114 231.934 203.468C231.486 202.771 231.021 202.05 230.596 201.481C229.56 200.101 228.735 199.267 226.802 200.196C224.804 201.137 222.955 202.366 221.315 203.844C220.947 204.172 220.701 204.615 220.618 205.101C220.443 206.274 221.259 207.313 221.956 208.226C222.732 209.23 223.178 209.878 222.834 210.405C222.631 210.603 222.406 210.775 222.163 210.919C222.04 210.998 221.902 211.079 221.807 211.151C220.864 211.86 219.988 212.413 219.217 212.898L218.562 213.314C218.438 213.393 218.311 213.479 218.183 213.568C217.686 213.904 217.172 214.265 216.724 214.265C215.843 214.283 214.958 212.954 214.247 211.883C214.027 211.551 213.818 211.237 213.613 210.968C212.979 210.124 212.328 209.197 211.692 208.284C211.055 207.371 210.395 206.428 209.747 205.568C209.013 204.599 208.107 203.393 206.69 203.289C206.111 203.247 205.347 203.693 204.227 204.481C203.793 204.787 203.351 205.073 202.924 205.352C201.734 206.126 200.619 206.855 199.69 207.924C199.248 208.369 198.987 208.961 198.956 209.588C198.953 210.18 199.139 210.758 199.488 211.237C200.751 213.008 202.087 214.734 203.381 216.404C204.587 217.957 205.835 219.583 207.013 221.209L207.219 221.493C207.923 222.457 208.98 223.904 208.553 224.706C206.26 227.006 203.518 228.637 202.821 228.572C201.699 228.47 199.859 226.186 198.514 224.52C197.729 223.544 197.05 222.703 196.498 222.222C195.08 220.998 194.516 221.367 191.386 223.414L191.279 223.484C189.913 224.374 188.19 225.524 186.893 226.528C186.51 226.825 185.987 227.264 185.787 227.97C185.587 228.677 185.78 229.506 186.347 230.447C186.914 231.388 187.497 232.262 188.059 233.107C188.478 233.73 188.907 234.376 189.326 235.038C189.394 235.148 189.43 235.276 189.43 235.405C189.43 235.535 189.394 235.662 189.326 235.772C187.671 238.442 186.893 239.866 187.314 243.054C187.425 243.895 187.915 245.366 188.845 245.965C189.442 246.367 190.829 246.616 191.454 246.6L575 246.383" stroke="url(#paint0_linear_451_382)" class="svg-elem-1"></path>
									<defs>
									<linearGradient id="paint0_linear_451_382" x1="-60484.2" y1="52725.4" x2="8241.64" y2="-68616.4" gradientUnits="userSpaceOnUse">
									<stop stop-color="#CC9748"></stop>
									<stop offset="1" stop-color="#F9DF94"></stop>
									</linearGradient>
									</defs>
								</svg>

						
				.swiper-slide.step.step-6
					video#video-6.step__bg(muted playsinline)
						source(src="video/06.mov" type='video/mp4')
					<svg class="step__go _up" width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M10.8777 33L10.8777 12.6261L5.54824 17.9236L1 13.9222L14 0.999999L27 13.9222L22.4518 17.9236L17.1223 12.6261L17.1223 33H10.8777Z" stroke="white" stroke-width="0.5"/>
					</svg>

					.step__content.step-6__content
						.step-6__headline.step__headline Имеет право, 
								span а не наоборот 
						.step-6__row 
							.step-6__contact 
								h3 Контакты  
								p._adress Москва, Калошин переулок, 4
								p 
									a(href="tel:84991367959")  +7 499 136-79-59 
								p 
									a(href="mailto:hello@andreevadvokat.ru")  hello@andreevadvokat.ru
							a.step-6__public(href="#") Публикации 
								br
								| и общественные 

								| проекты
								<svg width="31" height="23" viewBox="0 0 31 23" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M19.348 20.3154L18.6634 21.0443L20.1212 22.4135L20.8058 21.6846L19.348 20.3154ZM29 11.5L29.7289 12.1846L30.3719 11.5L29.7289 10.8154L29 11.5ZM20.8058 1.31537L20.1212 0.586479L18.6634 1.95574L19.348 2.68463L20.8058 1.31537ZM20.8058 21.6846L29.7289 12.1846L28.2711 10.8154L19.348 20.3154L20.8058 21.6846ZM29.7289 10.8154L20.8058 1.31537L19.348 2.68463L28.2711 12.1846L29.7289 10.8154ZM29 10.5H0V12.5H29V10.5Z" />
								</svg>
							.step-6__svg-wrap
								<svg id="step-6-svg" viewBox="0 0 2059 267" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path  class="svg-elem-1" d="M2058.5 220.888H331.419C329.008 217.154 314.305 206.599 314.305 206.599C353.78 201.151 392.423 164.377 392.423 164.377C392.423 164.377 401.207 165.258 436.531 158.218C471.855 151.177 497.96 125.888 501.695 107.638C505.43 89.3886 502.272 68.0501 477.121 53.1074C448.321 35.9949 393.52 41.8886 393.52 41.8886C393.52 41.8886 320.016 46.5126 313.653 98.3997C307.289 150.287 359.283 162.264 359.283 162.264C341.564 215.259 299.555 221.428 299.555 221.428L276.683 203.917L274.84 212.038C287.197 241.506 322.72 245.069 322.72 245.069C310.221 256.032 290.043 256.174 290.043 256.174C260.005 256.013 239.884 230.543 239.884 230.543C262.614 260.59 270.717 266 293.164 266C315.61 266 330.284 247.523 336.789 238.692C343.294 229.861 338.954 221.475 338.954 221.475C327.296 202.629 304.651 193.731 292.662 190.093C280.673 186.454 270.982 197.247 270.982 197.247L264.874 206.248C264.439 170.953 203.983 83.078 203.983 83.078C213.041 82.7843 218.941 77.8855 218.941 77.8855C190.888 59.0011 197.365 19.8015 197.365 19.8015L206.574 14.1826C206.574 14.1826 204.125 30.3286 212.039 52.2357C219.953 74.1427 236.783 75.8673 242.532 73.5647C248.28 71.2622 251.59 64.6295 252.308 55.6942C253.027 46.7589 249.283 26.2827 238.788 10.7241C228.292 -4.83446 210.167 2.94482 210.167 2.94482C210.167 2.94482 195.219 13.7657 182.558 22.701C169.898 31.6362 171.014 51.2692 171.014 51.2692C164.622 106.785 233.417 221.494 233.417 221.494H0" stroke="url(#paint0_linear_507_489)" stroke-miterlimit="10"/>
									<defs>
									<linearGradient id="paint0_linear_507_489" x1="-216534" y1="56605" x2="-188129" y2="-110631" gradientUnits="userSpaceOnUse">
									<stop stop-color="#CC9748"/>
									<stop offset="1" stop-color="#F9DF94"/>
									</linearGradient>
									</defs>
								</svg>

								

						
				//- .swiper-slide.step
				//-     video#video-7.step__bg(muted playsinline)
				//-         source(src="video/07.mp4" type='video/mp4')
				//-     svg.step__go(width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg")
				//-         path(fill-rule="evenodd" clip-rule="evenodd" d="M17.1223 1L17.1223 21.3739L22.4518 16.0764L27 20.0778L14 33L1 20.0778L5.54824 16.0764L10.8777 21.3739L10.8777 1L17.1223 1Z" stroke="white" stroke-width="0.5")
			.swiper-pagi
		//- .grid 
		//- 	span
		//- 	span
		//- 	span
		//- 	span
		//- 	span