extends ../../layout/layout
block title
	title Адвокат Андрей Андреев
block content
	.container.publication.page-inner
		a.publication__back(href="@")
			<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M4.9575 10.6783L5.63578 11.4131L7.10539 10.0565L6.42711 9.32172L4.9575 10.6783ZM2 6L1.2652 5.32172L0.639092 6L1.2652 6.67828L2 6ZM6.42711 2.67828L7.10539 1.94348L5.63578 0.586916L4.9575 1.32172L6.42711 2.67828ZM6.42711 9.32172L2.7348 5.32172L1.2652 6.67828L4.9575 10.6783L6.42711 9.32172ZM2.7348 6.67828L6.42711 2.67828L4.9575 1.32172L1.2652 5.32172L2.7348 6.67828ZM2 7H14V5H2V7Z"/>
			</svg>
			| Назад
		.publication-banner
			+picture('public-1','jpg').publication-banner__img
			.publication-banner__head
				span ПУБЛИКАЦИЯ
				span 29 сентября 2021
			.publication-banner__row 
				.publication-banner__title 
					p Что такое
						br
						| реструктуризация бизнеса
				.publication-banner__soc 
					span Поделиться:
					.publication-banner__soc-row 
						a(href="#", target="_blank")
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_307_990)">
								<path d="M5.03344 14.5005C11.0697 14.5005 14.3722 9.49829 14.3722 5.16173C14.3722 5.0211 14.3691 4.87735 14.3628 4.73673C15.0052 4.27213 15.5597 3.69666 16 3.03735C15.4017 3.30355 14.7664 3.47741 14.1159 3.55298C14.8009 3.14243 15.3137 2.49747 15.5594 1.73767C14.915 2.11953 14.2104 2.3889 13.4756 2.53423C12.9806 2.0082 12.326 1.6599 11.6131 1.54319C10.9003 1.42648 10.1688 1.54786 9.53183 1.88855C8.89486 2.22925 8.38787 2.77029 8.08923 3.42803C7.7906 4.08577 7.71695 4.82356 7.87969 5.52735C6.575 5.46188 5.29862 5.12296 4.13332 4.53255C2.96802 3.94215 1.9398 3.11345 1.11531 2.10017C0.696266 2.82265 0.568038 3.67758 0.756687 4.49122C0.945337 5.30485 1.43671 6.01612 2.13094 6.48048C1.60975 6.46393 1.09998 6.32361 0.64375 6.0711V6.11173C0.643283 6.86992 0.905399 7.60488 1.38554 8.19167C1.86568 8.77846 2.53422 9.18086 3.2775 9.33048C2.7947 9.46257 2.28799 9.48182 1.79656 9.38673C2.0063 10.0388 2.41438 10.6091 2.96385 11.018C3.51331 11.427 4.17675 11.6542 4.86156 11.668C3.69895 12.5812 2.26278 13.0766 0.784375 13.0742C0.522191 13.0738 0.260266 13.0578 0 13.0261C1.5019 13.9897 3.24902 14.5014 5.03344 14.5005Z" fill="white"/>
								</g>
								<defs>
								<clipPath id="clip0_307_990">
								<rect width="16" height="16" fill="white"/>
								</clipPath>
								</defs>
							</svg>
						a(href="#", target="_blank")
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM8.28682 5.90579C7.5087 6.22943 5.95356 6.8993 3.6214 7.91538C3.24269 8.06598 3.04431 8.21331 3.02625 8.35737C2.99573 8.60083 3.30062 8.6967 3.71579 8.82725C3.77226 8.84501 3.83078 8.86341 3.89076 8.88291C4.29923 9.01568 4.84869 9.17102 5.13433 9.17719C5.39344 9.18279 5.68262 9.07596 6.0019 8.85673C8.18091 7.38583 9.30573 6.64237 9.37635 6.62634C9.42617 6.61504 9.4952 6.60082 9.54198 6.6424C9.58876 6.68397 9.58416 6.76271 9.57921 6.78384C9.549 6.91259 8.35222 8.02523 7.73289 8.60102C7.53981 8.78052 7.40285 8.90785 7.37486 8.93692C7.31214 9.00206 7.24822 9.06368 7.18679 9.1229C6.80732 9.48872 6.52275 9.76305 7.20255 10.211C7.52923 10.4263 7.79064 10.6043 8.05144 10.7819C8.33625 10.9759 8.62033 11.1693 8.98788 11.4103C9.08152 11.4717 9.17096 11.5354 9.25806 11.5975C9.58952 11.8338 9.8873 12.0461 10.2552 12.0123C10.469 11.9926 10.6898 11.7916 10.8019 11.1921C11.0669 9.77526 11.5879 6.70547 11.7083 5.44048C11.7188 5.32965 11.7056 5.18781 11.6949 5.12555C11.6843 5.06328 11.662 4.97457 11.581 4.9089C11.4852 4.83112 11.3372 4.81472 11.271 4.81589C10.9702 4.82119 10.5085 4.98171 8.28682 5.90579Z" fill="white"/>
							</svg>
		.typography 
			h2 Андрей Андреев - адвокат, общественный деятель, председатель совета Московской коллегии адвокатов «Андреев, Бодров, Гузенко и Партнёры», председатель международного центра развития молодёжных инициатив «Поколение Права».
			p Перемены неизбежны, в том числе и в компании. Чтобы оставаться конкурентноспособным на рынке, предприятие должно постоянно совершенствоваться и меняться для соответствия запросам внешней среды. Касается это не только производимых товаров или услуг, подхода к бизнесу и взаимодействию с клиентами, но и структуры самой компании. Поэтому реструктуризацию можно считать естественным этапом развития бизнеса.
			p 
				b 
					color Реструктуризация – это процедура целенаправленного изменения структуры компании, обусловленное необходимостью развития и достижения целей с учётом влияния внутренней и внешней среды.
			p Этот процесс весьма полезен и позволяет учредителям увеличить прибыль, снизить вероятность банкротства, защитить бизнес от конкурентов, оптимизировать внутренние процессы и финансовые потоки, избавиться от неликвидных активов. 
			h2 Когда нужна реструктуризация
			p Причин для инициации процедуры реструктуризации может быть несколько, как и целей, которые преследуют учредители. Она меняет привычные алгоритмы работы, накладывает на сотрудников новые обязанности, перестраивает схемы взаимодействия и взаимоподчинения, поэтому может болезненно восприниматься коллективом.
			p 
				+picture('public-inner','jpg')._big
			p Наиболее частой причиной является адаптация компании к условиям рынка и желание оптимизировать её деятельность – оперативная реструктуризация. Она может быть комплексной и затрагивать все отделы фирмы, или частичной, когда изменения касаются одной области. Например, упразднение юридического отдела в пользу привлечения бюро на аутсорсе.
			p Руководство проводит реструктуризацию и для того, что улучшить её привлекательность для потенциальных инвесторов и увеличить её стоимость. Такой формат называется стратегической реструктуризацией, он занимает гораздо больше времени, так как требует более широкого аудита и разработки программы изменений, учитывающих намного больше факторов. 
			p Изменение масштаба компании также несёт за собой и структурные новации. Открытие новых филиалов, поглощение или слияние с другим предприятием, вносят свои правки. Но масштабирование может быть направлено как на расширение, так и на уменьшение, а значит реструктурирование понадобится и на этапах сокращения или продажи активов, разделения компании на несколько самостоятельных единиц, ликвидировании части имущества и других подобных изменениях. 
			h2 Риски при реструктуризации
			p 
				b Внесение структурных изменений процедура довольно сложная и трудоёмкая. Она требует от руководителя и команды, проводящей её, высокого уровня ответственности и квалификации. Иначе есть риск, что программа по финансовому оздоровлению выльется крупными потерями  для бизнеса.
			p  Чтобы снизить возможные риски, необходимо учитывать следующие пункты:
			ul 
				li 
					p Чётко формулировать цели и задачи реструктуризации (развитие компании, повышение конкурентоспособности, улучшение экономического положения);
				li 
					p Правильно выбрать метод преобразования (оперативная или стратегическая реструктуризация);
				li 
					p Верно оценивать собственные ресурсы, которые будут использованы в процессе реструктуризации, в том числе квалификацию специалистов;
				li 
					p Вероятность конфликтов между участниками процесса изменений, так как затрагивается много групп – менеджмент, сотрудники, партнёры, профсоюзы и др;
				li 
					p Негативные социальные последствия, связанные с возможным сокращением штата.
			p 
				+picture('public-inner','jpg')
			p Отдельно стоит выделить ещё один пункт – юридические риски. Если предприниматели рассматривают процедуру реструктуризации как способ оптимизации и повышения эффективности компании, то надзорные органы видят в ней способ ухода от налогов, вывода активов, решения проблем с дебиторской и кредиторской задолженностями.
			p Следовательно, компанию с большой вероятностью ожидает ряд проверок на предмет нарушений законодательства. В связи с этим особое внимание следует уделить обеспечению прозрачности бухгалтерии, устранению всех налоговых несоответствий и других подозрительных для ревизоров явлений. Важно и грамотно подойти к выбору команды, ответственной за проведение реформ -реализовать их не всегда удаётся своими силами. Квалификации руководителей отдельных подразделений может не хватить, для внедрения структурных изменений, а штатные юристы не всегда могут в полной мере обеспечить юридическую поддержку. В зависимости от масштабов реструктуризации и преследуемой цели, директором может быть принято решение о привлечении сторонних специалистов, и это действительно очень хороший вариант. Независимые эксперты проведут аудит, предложат варианты реструктуризации, нивелируют риски и самое главное, не будут вмешиваться в работу предприятия, благодаря чему изменения удастся внедрить максимально быстро без падения темпов производства. 
		.publication-footer 
			.publication-footer__soc 
				span Поделиться:
				.publication-footer__soc-row 
					a(href="#", target="_blank")
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_307_990)">
							<path d="M5.03344 14.5005C11.0697 14.5005 14.3722 9.49829 14.3722 5.16173C14.3722 5.0211 14.3691 4.87735 14.3628 4.73673C15.0052 4.27213 15.5597 3.69666 16 3.03735C15.4017 3.30355 14.7664 3.47741 14.1159 3.55298C14.8009 3.14243 15.3137 2.49747 15.5594 1.73767C14.915 2.11953 14.2104 2.3889 13.4756 2.53423C12.9806 2.0082 12.326 1.6599 11.6131 1.54319C10.9003 1.42648 10.1688 1.54786 9.53183 1.88855C8.89486 2.22925 8.38787 2.77029 8.08923 3.42803C7.7906 4.08577 7.71695 4.82356 7.87969 5.52735C6.575 5.46188 5.29862 5.12296 4.13332 4.53255C2.96802 3.94215 1.9398 3.11345 1.11531 2.10017C0.696266 2.82265 0.568038 3.67758 0.756687 4.49122C0.945337 5.30485 1.43671 6.01612 2.13094 6.48048C1.60975 6.46393 1.09998 6.32361 0.64375 6.0711V6.11173C0.643283 6.86992 0.905399 7.60488 1.38554 8.19167C1.86568 8.77846 2.53422 9.18086 3.2775 9.33048C2.7947 9.46257 2.28799 9.48182 1.79656 9.38673C2.0063 10.0388 2.41438 10.6091 2.96385 11.018C3.51331 11.427 4.17675 11.6542 4.86156 11.668C3.69895 12.5812 2.26278 13.0766 0.784375 13.0742C0.522191 13.0738 0.260266 13.0578 0 13.0261C1.5019 13.9897 3.24902 14.5014 5.03344 14.5005Z" fill="white"/>
							</g>
							<defs>
							<clipPath id="clip0_307_990">
							<rect width="16" height="16" fill="white"/>
							</clipPath>
							</defs>
						</svg>
					a(href="#", target="_blank")
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM8.28682 5.90579C7.5087 6.22943 5.95356 6.8993 3.6214 7.91538C3.24269 8.06598 3.04431 8.21331 3.02625 8.35737C2.99573 8.60083 3.30062 8.6967 3.71579 8.82725C3.77226 8.84501 3.83078 8.86341 3.89076 8.88291C4.29923 9.01568 4.84869 9.17102 5.13433 9.17719C5.39344 9.18279 5.68262 9.07596 6.0019 8.85673C8.18091 7.38583 9.30573 6.64237 9.37635 6.62634C9.42617 6.61504 9.4952 6.60082 9.54198 6.6424C9.58876 6.68397 9.58416 6.76271 9.57921 6.78384C9.549 6.91259 8.35222 8.02523 7.73289 8.60102C7.53981 8.78052 7.40285 8.90785 7.37486 8.93692C7.31214 9.00206 7.24822 9.06368 7.18679 9.1229C6.80732 9.48872 6.52275 9.76305 7.20255 10.211C7.52923 10.4263 7.79064 10.6043 8.05144 10.7819C8.33625 10.9759 8.62033 11.1693 8.98788 11.4103C9.08152 11.4717 9.17096 11.5354 9.25806 11.5975C9.58952 11.8338 9.8873 12.0461 10.2552 12.0123C10.469 11.9926 10.6898 11.7916 10.8019 11.1921C11.0669 9.77526 11.5879 6.70547 11.7083 5.44048C11.7188 5.32965 11.7056 5.18781 11.6949 5.12555C11.6843 5.06328 11.662 4.97457 11.581 4.9089C11.4852 4.83112 11.3372 4.81472 11.271 4.81589C10.9702 4.82119 10.5085 4.98171 8.28682 5.90579Z" fill="white"/>
						</svg>