.preloader
	.preloader__content 
		<svg class="preloader__img" viewBox="0 0 109 108" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M108.608 107.512L108.599 0.217724L75.4991 0.220419L98.7126 53.8658L86.9932 53.8668L81.9272 42.1477L52.5902 42.1501L47.5261 53.87L35.8066 53.8709L59.0114 0.221761L0.0310059 0.226562L0.0397408 107.521L33.13 107.518L9.92608 53.873L21.6456 53.8721L26.7116 65.5911L56.039 65.5888L61.1126 53.8689L72.8225 53.8679L49.6273 107.517L108.608 107.512Z" fill="url(#paint0_linear_307_1118)"/>
			<path d="M68.8552 11.9307L65.6573 11.931L57.6639 30.4396L76.8516 30.4381L68.8552 11.9307Z" fill="url(#paint1_linear_307_1118)"/>
			<path d="M39.7836 95.8083L42.972 95.808L50.9749 77.309L31.7776 77.3105L39.7836 95.8083Z" fill="url(#paint2_linear_307_1118)"/>
			<defs>
				<linearGradient id="paint0_linear_307_1118" x1="-110.217" y1="178.603" x2="189.023" y2="-48.2466" gradientUnits="userSpaceOnUse">
				<stop stop-color="#CC9748"/>
				<stop offset="1" stop-color="#F9DF94"/>
				</linearGradient>
				<linearGradient id="paint1_linear_307_1118" x1="-2343.21" y1="3478.3" x2="3494.2" y2="-1109.5" gradientUnits="userSpaceOnUse">
				<stop stop-color="#CC9748"/>
				<stop offset="1" stop-color="#F9DF94"/>
				</linearGradient>
				<linearGradient id="paint2_linear_307_1118" x1="-1987.27" y1="4028.73" x2="3848.72" y2="-562.466" gradientUnits="userSpaceOnUse">
				<stop stop-color="#CC9748"/>
				<stop offset="1" stop-color="#F9DF94"/>
				</linearGradient>
			</defs>
		</svg>
		.preloader__line 
			.preloader__progress 
		.preloader__procent 0% 
