include mixin

doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            block title
            meta(content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            !='<link rel="preconnect" href="https://fonts.googleapis.com">'
            !='<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>' 
            !='<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500&display=swap" rel="stylesheet">'
            link(rel="stylesheet" href="css/base.min.css")
            link(rel="stylesheet" href="css/vendor.css")
            link(rel="stylesheet" href="css/all.min.css")
            <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">

    body.inner-page

        include  component/header/header  
        block content
        include  component/cursor/cursor     
        include  component/rsidebar/rsidebar 
        include  component/footer/footer              
        include  component/orientation/orientation              
                    

        block scripts

            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
            <script src="https://unpkg.com/@barba/core"></script>
            script(src='js/vendor.js')
            script(src='js/main.js')